<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% if page.page_css %}
      <link rel="stylesheet" href="{{ page.page_css | relative_url }}">
    {% endif %}
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    {% include nav.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>